
body{
    background: linear-gradient(273.18deg, #191C21 8.7%, #2F343A 96.77%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto Mono', monospace !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}


.container-xxl {
    max-width: 1366px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.nav-item {
    margin-left: 50px;
    
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 14px;

/* identical to box height */
letter-spacing: 0.045em;
}

.navbar.navbar-expand-lg {
    margin-top: 70px;
}

.logo_a {
    flex-grow: 10;
}

.title_h1{
    font-weight: 800;
    font-size: 5.5rem !important;
    font-family: 'Rubik', sans-serif;
}

.card {
    margin: 6rem 0 6rem 0;
}


.card-text {
    color: #C8C8C8;
}

/* .btn_custom{
    background: none;
    border-radius: 10px;
    
    padding: 20px 55px;
    border:none;
    color: #C8C8C8 ;
    border: 1px solid #C8C8C8;
} */
/* border: 1px solid #ff26d0 !important; */





.btn_custom {
    
    border-radius: 10px;
    padding: 15px 70px;
    border:none;
    background: #2f3031;
    
}
.btn_custom:hover {
    background: #24282d;
}





.animation_shadow{
    box-shadow: inset 5px 5px 16px #1D2126, inset -5px -5px 16px #2A2E34;
    color: #C8C8C8;
    -webkit-animation: shadowFadeOut 0.5s;
}


.animation_shadow:hover{
    -webkit-animation: shadowFade 0.5s;
    box-shadow: 4px 4px 15px #380bb6, -4px -4px 15px #ce29cb;
    color: #fff;

}



@-webkit-keyframes shadowFade {
    0% { box-shadow: inset 5px 5px 15px #1D2126, inset -1px -1px 15px #2A2E34; }
    10% { box-shadow: inset 4px 4px 12px #1D2126, inset -2px -2px 12px #2A2E34; }
    20% { box-shadow: inset 3px 3px 9px #1D2126, inset -3px -3px 9px #2A2E34; }
    30% { box-shadow: inset 2px 2px 6px #1D2126, inset -4px -4px 6px #2A2E34; }
    40% { box-shadow: inset 1px 1px 4px #1D2126, inset -5px -5px 3px #2A2E34; }
    50% { box-shadow:  1px 1px 3px #380bb6,  -1px -1px 3px #ce29cb; }
    60% { box-shadow:  2px 2px 6px #380bb6,  -2px -2px 6px #ce29cb; }
    70% { box-shadow:  3px 3px 9px #380bb6,  -3px -3px 9px #ce29cb; }
    80% { box-shadow:  4px 4px 12px #380bb6,  -4px -4px 12px #ce29cb; }
    100% { box-shadow: 5px 5px 15px #380bb6,  -5px -5px 15px #ce29cb; }
}

@-webkit-keyframes shadowFadeOut {
    0% { box-shadow: 5px 5px 15px #380bb6, -5px -5px 15px #ce29cb; }
    10% { box-shadow: 4px 4px 12px #380bb6, -4px -4px 12px #ce29cb; }
    20% { box-shadow: 3px 3px 9px #380bb6, -3px -3px 9px #ce29cb; }
    30% { box-shadow: 2px 2px 6px #380bb6, -2px -2px 6px #ce29cb; }
    40% { box-shadow: 1px 1px 3px #380bb6, -1px -1px 3px #ce29cb; }
    50% { box-shadow:  inset 1px 1px 3px #1D2126, inset -1px -1px 3px #2A2E34; }
    60% { box-shadow:  inset 2px 2px 6px #1D2126, inset -2px -2px 6px #2A2E34; }
    70% { box-shadow: inset 3px 3px 9px #1D2126, inset -3px -3px 9px #2A2E34; }
    80% { box-shadow: inset 4px 4px 12px #1D2126, inset -4px -4px 12px #2A2E34; }
    100% { box-shadow: inset 5px 5px 15px #1D2126, inset -5px -5px 15px #2A2E34; }
}




.nav-link:hover{

    background: #2F343A;
}
.nav-link_portfolio{

    background: none !important;
}


/* 
.btn_custom{
    background: #2E3337;
    box-shadow: inset 5px 5px 16px #1D2126, inset -5px -5px 16px #2A2E34 !important;
    transition: box-shadow 0.6s ease-in-out;
    border-radius: 10px;
    padding: 20px 55px;
    border:none;
    background: #2F343A;
    color: #C8C8C8;
}

.btn_custom:hover {
    background: #24282d;
    box-shadow: inset 4px 4px 15px #31177b, inset -4px -4px 15px #7b1779 !important;

    color: #fff;
} */
























/* .btn_custom:hover {
    background: linear-gradient(292.05deg, #292731 55.87%, #7b1779 132.69%);
    box-shadow: 5px 5px 16px #1A1E21, -5px -5px 16px #32363E;
    
} */





.transition {
    transition: 0.5s;
  }





/* .btn_custom:hover {
    background: linear-gradient(292.05deg, #272C31 55.87%, #3C4044 132.69%);
    background: #3e4042;
    box-shadow: 4px 4px 15px #31177b, -4px -4px 15px #7b1779;
    color: #fff;
} */




.btn_left{
    margin: 0 20px 0 0;
}

::selection {
    background: #ce29cb; /* Safari */
    }
    ::-moz-selection {
    background: #7707b8; /* Firefox */
    
    }