{% extends 'base.html' %}



{% block content %}


<div class="card text-center bg-transparent">

    <div class="card-body">
      <h1 class="card-title title_h1">Web Developer <br> of services <br> and sites
    </h1>
      <p class="card-text mb-5">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn  btn_custom btn_left transition animation_shadow">View portfolio
    </a>
      <a href="#" class="btn  btn_custom animation_shadow transition">Contact now
    </a>
    </div>

</div>




<div class="row" >








</div>








{% endblock content %}


